/*DOM OBJECTS*/

body {
    background-color: #FECEA8;
}


/*BOOTSTRAP CLASSES*/

.card {
    width: 30rem;
}


/*MY CLASSES*/

.page_center {
    margin: auto;
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 40px;
    min-width: 1200px;
    height: 50%;
    width: 70%;
}

.main_text {
    color: #f75d2a;
    text-shadow: -2px -2px 0 white, 2px -2px 0 white, -2px 2px 0 white, 2px 2px 0 white;
    font-family: "Lobster", fantasy, cursive, Georgia, Bookman, Courier-New, Courier, monospace;
}

.question_text {
    font-size: 1.5em;
    font-weight: bold;
}

.display_score {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: #f75d2a;
    text-shadow: -2px -2px 0 white, 2px -2px 0 white, -2px 2px 0 white, 2px 2px 0 white;
    font-size: 2.5em;
}

#display_score_number_container {
    background-color: rgba(0, 0, 0, 0);
    border: 3px solid white;
}

#quiz_panel {
    background-color: #F3F2F2;
    border-color: #FF8A66;
    border-width: 0.5em;
}

#restart_btn {
    margin-top: 5px;
}